#menu{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

ion-avatar img  {
    margin-top: 5px;
    width:100% !important;
    height : 100% !important;
    max-width: 35px !important;  //any size
    max-height: 35px !important; //any size
    }

#badge{
    float: right;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 100% 0px 0px 0px;
    background-color: black;
   ion-icon{
       font-weight: bold;
       font-size: 1.2em;
       margin-top:8px;
   }
}
.welcome{
    padding:20px;
    #greet{
        font-size: 1.2em;
        font-weight: bold;
        color: grey;
    }
    #tag{
        font-size:1.8em;
        color: var(--ion-color-primary)
    }
}
ion-segment{
    --background:var(--ion-color-dark)
}

ion-card {
    border: 1px solid var(--ion-color-dark);
 }
 .segment{
     padding:20px;
 }