<ion-list lines="none">
  <ion-item>
    <ion-icon color="dark" id="menu" slot="start" src="assets/images/menu.svg"></ion-icon>
    <ion-avatar slot="end" width="25px" height="25px">
      <img src="assets/images/prof.jpeg" width="25px" height="25px">
    </ion-avatar>
  </ion-item>
</ion-list>

<ion-content>

  <div class="welcome">
    <ion-label id="greet">Welcome, Steve </ion-label><br>
    <ion-label id="tag">Choose your device</ion-label>
  </div>
  <ion-list class="ion-padding">
    <ion-row>
      <ion-col size="10">
        <ion-input style="border:1px solid black" type="text" placeholder="Search device" clearInput></ion-input>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <ion-button icon-only id="round" color="dark" >
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
  <div class="segment">
    <ion-segment scrollable (ionChange)="segmentChanged($event)" mode="ios" color="dark" value="headphone">
      <ion-segment-button value="headphone">
        <ion-label>Headset</ion-label>
      </ion-segment-button>
      <ion-segment-button value="macbook">
        <ion-label>MacBook</ion-label>
      </ion-segment-button>
      <ion-segment-button value="iphone">
        <ion-label>iPhone</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <ion-card class="container"  button="true" >
    <ion-list lines="none">
      <ion-item>
        <ion-col size="4">
          <img src="assets/images/airpodmax.jpg" (click)="viewProduct()">
        </ion-col>
        <ion-col (click)="viewProduct()">
          <ion-label>Air Pod Max</ion-label>
          <ion-label>Navy Blue</ion-label>
          <ion-label>$699.0</ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <div id="badge">
            &nbsp;
            <ion-icon button="true" name="add" color="light" (click)="addToCart()"></ion-icon>
          </div>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="container" button="true" >
    <ion-list lines="none">
      <ion-item>
        <ion-col size="4">
          <img src="assets/images/air.png" (click)="viewProduct()">
        </ion-col>
        <ion-col (click)="viewProduct()">
          <ion-label>Air Pod Max</ion-label>
          <ion-label>Pink</ion-label>
          <ion-label>$699.0</ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <div id="badge">
            &nbsp;
            <ion-icon name="add" color="light" (click)="addToCart()"></ion-icon>
          </div>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="container" button="true" >
    <ion-list lines="none">
      <ion-item>
        <ion-col size="4">
          <img src="assets/images/headphones.jpg" (click)="viewProduct()">
        </ion-col>
        <ion-col (click)="viewProduct()">
          <ion-label>Air Pod Max</ion-label>
          <ion-label>Navy Blue</ion-label>
          <ion-label>$699.0</ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <div id="badge" class="ion-text-center">
            &nbsp;
            <ion-icon name="add" color="light" (click)="addToCart()"></ion-icon>
          </div>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="container" button="true" >
    <ion-list lines="none">
      <ion-item>
        <ion-col size="4">
          <img src="assets/images/max_pro.jpg" (click)="viewProduct()">
        </ion-col>
        <ion-col (click)="viewProduct()">
          <ion-label>Air Pod Max</ion-label>
          <ion-label>Navy Blue</ion-label>
          <ion-label>$699.0</ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <div id="badge">
            &nbsp;
            <ion-icon name="add" color="light" (click)="addToCart()"></ion-icon>
          </div>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>